---
layout: base.njk
pagename: index
meta_title: "JOURNEY"
permalink: "build/index.html"
permalinkBypassOutputDir: true
---

{% from "macroSvgs.njk" import leftArrow, rightArrow, star %} {% from
"macros.njk" import pictureImg, stylusHead, h2Head, rectLink %}

<!-- top banner -->
<section class="mx-auto pt-16 xmed:pt-24 pb-9 bg-violet">
  {{
    h2Head(
      " A sophisticated, contemporary sanctuary in the Hamptons",
      "xmed:text-5xl max-w-xs xmed:max-w-xl py-5 xmed:pt-20 xmed:pb-8 mx-auto font-normal"
    )
  }}

  <!-- banner image -->
  {{ pictureImg("homepage-1", "mx-auto max-w-full xmed:max-w-hero-width", "w-full") }}

  {{ stylusHead("where travel meets charm", "text-center  xmed:text-6.5xl") }}

  <div class="grid justify-items-center pt-16">
    <img src="/images/down_arrow.svg" alt="Down Arrow" />
  </div>
</section>

<!-- about  -->
<section class="mx-auto pt-9 xmed:pt-6 pb-10 bg-violet">
  {{ h2Head("About the Journey", "xmed:text-4.5xl font-semibold") }}

  <div class="xmed:max-w-4xl text-center text-base px-4 py-5 xmed:mx-auto">
    22 newly renovated hotel rooms, <br class="sm:hidden" />
    3 spacious and secluded cottages, a heated <br class="sm:hidden" />
    saltwater pool with indoor lounge, and only a <br class="sm:hidden" />
    15-minute walk to Long Island’s finest beaches.
  </div>

  <div
    class="
      xmed:max-w-3xl
      xmed:mx-auto
      p-3
      grid grid-cols-2
      xmed:grid-cols-3
      place-content-center
    "
  >
    {% set items = [ 2, 3, 4, 5, 6, 7 ] %}
    {% for item in items %}
      <div class="relative">
        {{ pictureImg("homepage-" + item + "-alt_2xs", "p-1 xmed:p-2 absolute opacity-0 hover:opacity-100 transition-all duration-1000 z-1", "w-full") }}
        {{ pictureImg("homepage-" + item + "_2xs", "p-1 xmed:p-2", "w-full") }}
      </div>
    {% endfor %}
  </div>

  {{ stylusHead("welcome to the hamptons") }}

  <div class="text-center text-base px-11 py-5">
    Perfectly situated between the villages of East Hampton and Amagansett
  </div>

  {{
    rectLink(
      "Location",
      "/hamptons.html",
      "text-center block my-5",
      "px-10 py-2 italic font-semibold border border-black text-base"
    )
  }}
</section>

<!-- Room info -->
<section class="px-5 py-10 xmed:pt-12 bg-vio-2">
    {# {{ pictureImg("homepage-8", "", "w-full") }} #}
    <div class="max-w-5xl mx-auto">
    
      <div class="overflow-hidden relative h-room-img">
        {% for room in cozy_rooms %}
          <div class="absolute inset-0">
            <div class="room-carousel">
                <div class="grid grid-cols-1 xmed:grid-cols-7">
                  {{ pictureImg( room.images[0], "col-span-4", "w-full object-cover h-amenities xmed:h-room-img" ) }}
                  <div class="col-span-3 pl-0 mt-10 xmed:pl-14 pt-16">
                    {{ h2Head( room.title, "capitalize  xmed:text-4.5xl font-semibold xmed:text-left xmed:pt-14" ) }}
                    <div class="text-center xmed:text-left text-base px-5x med:pl-0 py-3">
                      Ideal for a romantic getaway or for a group of 4 that wants to
                      experience the tranquility Journey East Hampton has to offer.
                    </div>
                  </div>
                </div>
              </div>
          </div>
        {% endfor %}

        {# Navitation buttons #}
        <div class="absolute inset-0 top-72 xmed:top-0">
          <div class="grid grid-cols-1 xmed:grid-cols-7 ">
            <div class="col-span-4 hidden xmed:block"></div>
            <div class="col-span-3 pl-0 xmed:pl-14">
              <div class="grid justify-center xmed:justify-start content-start xmed:content-center grid-flow-col">
                <div class="px-2 inline-block cursor-pointer" id="room-carousel-prev">
                  {{ leftArrow("nav-arrow", true) }}
                </div>
                <div class="px-2 inline-block cursor-pointer" id="room-carousel-next">
                  {{ rightArrow("nav-arrow", true) }}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="hidden xmed:block absolute xmed:inset-0 xmed:top-80">
          <div class="grid grid-cols-1 xmed:grid-cols-7">
            <div class="col-span-4"></div>
            <div class="col-span-3 pl-0 xmed:pl-14">
              {{
                rectLink(
                  "View All Rooms",
                  "/rooms.html",
                  "text-center inline-block my-5",
                  "px-4 py-2 italic font-semibold border border-black text-base"
                )
              }}
              {{
                rectLink(
                  "View Offers",
                  "/offers.html",
                  "text-center inline-block my-5 mx-2",
                  "px-4 py-2 italic font-semibold border border-black text-base"
                )
              }}
            </div>
          </div>
        </div>
        
      </div>    
    </div>
    
    <div class="grid grid-cols-1 xmed:hidden">          
            <div class="pl-0 xmed:pl-14">
              <div class="grid justify-between grid-flow-col px-4">
                {{
                  rectLink(
                    "View All Rooms",
                    "/rooms.html",
                    "text-center inline-block my-5",
                    "px-4 py-2 italic font-semibold border border-black text-base"
                  )
                }}
                {{
                  rectLink(
                    "View Offers",
                    "/offers.html",
                    "text-center inline-block my-5 mx-2",
                    "px-4 py-2 italic font-semibold border border-black text-base"
                  )
                }}
              </div>
            </div>
          </div>
</section>

<!-- Amenities -->
<section class="px-4 py-10 xmed:pt-24 pb-9 bg-violet">
  {{ stylusHead("everything for happiness") }}
  {{ h2Head("Amenities", "xmed:text-4.5xl font-semibold ") }}
  {{
    rectLink(
      "View Amenities",
      "/amenities.html",
      "hidden xmed:block text-center block my-5",
      "px-4 py-2 italic font-semibold border border-black text-base"
    )
  }}
  <div class="grid grid-cols-9 xmed:px-64 xmed:justify-items-center">
    <div class="self-center xmed:mx-14 cursor-pointer z-20" id="amenities-carousel-prev">
      {{ leftArrow("nav-arrow", true) }}
    </div>
    <div class="col-span-7 w-full">
      <div class="overflow-hidden relative max-w-5xl mx-auto h-amenities xmed:h-xmed-amenities">
      
        <div class="absolute inset-0">
          <div class="amenities-carousel transition-all ease-in-out duration-1000 transform translate-x-full opacity-0">
            {{ pictureImg( "bike", "h-full", "w-full h-4/5 xmed:h-5/6 object-contain", "the bikes") }}
          </div>
          <div class="amenities-carousel transition-all ease-in-out duration-1000 transform translate-x-full opacity-0">
            {{ pictureImg( "amenities-1", "h-full", "w-full h-4/5 xmed:h-5/6 object-contain", "the bikes" ) }}
          </div>
          <div class="amenities-carousel transition-all ease-in-out duration-1000 transform translate-x-full opacity-0">
            {{ pictureImg( "amenities-2", "h-full", "w-full h-4/5 xmed:h-5/6 object-contain", "the pool") }}
          </div>
          <div class="amenities-carousel transition-all ease-in-out duration-1000 transform translate-x-full opacity-0">
            {{ pictureImg( "amenities-3", "h-full", "w-full h-4/5 xmed:h-5/6 object-contain", "the lawn" ) }}
          </div>
          <div class="amenities-carousel transition-all ease-in-out duration-1000 transform translate-x-full opacity-0">
            {{ pictureImg( "amenities-4", "h-full", "w-full h-4/5 xmed:h-5/6 object-contain", "the bikes" ) }}
          </div>
        </div>

      </div>
    </div>
    <div class="self-center xmed:mx-14 cursor-pointer z-20" id="amenities-carousel-next">
      {{ rightArrow("nav-arrow", true) }}
    </div>
  </div>
  

  {{
    rectLink(
      "View Amenities",
      "/amenities.html",
      "xmed:hidden text-center block my-5",
      "px-4 py-2 italic font-semibold border border-black text-base"
    )
  }}
</section>

<!--  line -->
<div class="px-3 xmed:px-44 bg-violet">
  <hr />
</div>

<!-- Review -->
<section class="px-4 py-10 xmed:pt-24 pb-9 bg-violet">
  {{ stylusHead("a hidden gem") }}

  

  <div class="overflow-hidden relative min-h-20h xmed:min-h-15.5h max-w-4xl mx-auto">
    {% for comment in comments %}
    <div class="absolute xmed:inset-x-12">
      <div
        class="
          comments-carousel
          transition-all
          ease-in-out
          duration-1000
          transform
          translate-x-full
          opacity-0
        "
      >
        {{ h2Head(comment.title, "xmed:text-4.5xl font-semibold ") }}
        
        <div class="grid grid-cols-1 justify-items-center">
          <div class="text-center text-base w-full xmed:max-w-3xl">
            {{comment.comments}}
          </div>
        </div>

        <div class="text-center pt-8 pb-6">
          <div class="grid justify-items-center">
            {% set stars = [1, 2, 3, 4, 5] %}
            <div>
              {% for s in stars %}
              <div class="inline-block">
                {{ star() }}
              </div>
              {% endfor %}
            </div>
          </div>
          <div>{{comment.name}} - {{comment.address}}</div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="italic underline py-4 text-center">#1 hotel in East Hampton</div>

  <div class="grid grid-cols-2 px-10 xmed:px-24 xmed:-mt-60 py-8">
    <span
      class="px-2 justify-self-end xmed:justify-self-start cursor-pointer"
      id="comments-carousel-prev"
    >
      {{ leftArrow("nav-arrow", true) }}
    </span>
    <span
      class="px-2 justify-self-start xmed:justify-self-end cursor-pointer"
      id="comments-carousel-next"
    >
      {{ rightArrow("nav-arrow", true) }}
    </span>
  </div>
  <div class="mt-4 xmed:mt-60"></div>
</section>
