---
layout: base.njk
pagename: index
meta_title: "JOURNEY"
permalink: "build/index.html"
permalinkBypassOutputDir: true
---

<section class="segment-outer p-16 xmed:p-24">
    <div class="segment-inner">
        <h2>Contents</h2>
    </div>
</section