---
layout: base.njk
pagename: amenities
meta_title: "JOURNEY"
permalink: "build/amenities.html"
permalinkBypassOutputDir: true
---

<section class="segment-outer pt-16 xmed:pt-24 pb-10 bg-violet">
    <div class="segment-inner px-4 pt-4 xmed:pt-16">
        <h2 class="text-2xl text-center pb-2 mb-1">A hidden gem for the <br>modern explorer</br></h2>
        <div class="max-w-hero-width mx-auto">
            <picture>
                <source src="images/amenities-1.webp" type="image/webp" srcset="
                    images/amenities-1.webp 600w,
                    images/amenities-1_300.webp 300w
                ">
                <img src="images/amenities-1.jpg" class="inline-block" alt="A hidden gem for the modern explorer" srcset="
                    images/amenities-1.jpg 600w,
                    images/amenities-1.jpg 300w
                ">
            </picture>
        </div>
        <figcaption>
            <p class="font-hijrnotes text-4xl text-center">enjoy the journey</p>
                <div class="xmed:hidden flex justify-center my-16">
                    <svg width="8" height="42" viewBox="0 0 8 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3.65231 41.3536C3.84757 41.5488 4.16415 41.5488 4.35941 41.3536L7.54139 38.1716C7.73666 37.9763 7.73666 37.6597 7.54139 37.4645C7.34613 37.2692 7.02955 37.2692 6.83429 37.4645L4.00586 40.2929L1.17743 37.4645C0.98217 37.2692 0.665588 37.2692 0.470325 37.4645C0.275063 37.6597 0.275063 37.9763 0.470325 38.1716L3.65231 41.3536ZM3.50586 0L3.50586 41H4.50586L4.50586 0L3.50586 0Z" fill="#354656"/>
                    </svg>
                </div>
                <header class="xmed:hidden text-center text-4xl">
                    Our special aminities
                </header>
            <p class="text-center text-xl pt-2">Sometimes all you need is to escape from the city, enjoy the nature, absorve the sun, and feel the sea breeze.We offer a variety of amenities to enhance your stay.</p>
        </figcaption>
    </div>
</section>
<!--start here -->
<section class="segment-outer pb-16">
    <section class="segment-inner xmed:grid grid-cols-2 gap-x-16 xmed:pt-16 xmed:pb-16 items-center bg-vio-1">
        <figure>
            <picture>
                 <source src="images/amenities-2.webp" type="image/webp" srcset="
                    images/amenities-2.webp 600w,
                    images/amenities-2_300.webp 300w
                ">              
                <img class="w-full" src="images/amenities-2.jpg" class="inline-block" alt="the pool">
            </picture>
        </figure>
        <figcaption class="text-justify px-16 sm:py-8 sm:pl-16 xmed:py-0">
            <header class="font-hijrnotes text-4xl pb-6">The pool</header>
            <p>There is nothing like a refreshing dip in our heated saltwater pool, lounge under our shaded umbrellas, and cool off in our soothing pool house.</p>
        </figcaption>
    </section>
</section>
<!--end here -->

<!--start here -->
<section class="segment-outer pb-16">
    <section class="segment-inner xmed:grid grid-cols-2 gap-x-16 xmed:pt-16 xmed:pb-16 items-center bg-grey">
        <figure class="xmed:justify-end order-2">
            <picture>
                 <source src="images/amenities-3.webp" type="image/webp" srcset="
                    images/amenities-3.webp 600w,
                    images/amenities-3_300.webp 300w
                ">              
                <img class="w-full" src="images/amenities-3.jpg" class="inline-block" alt="the lawn">
            </picture>
        </figure>
        <figcaption class="text-justify px-16 sm:py-8 sm:pl-16 xmed:py-0 xmed:justify-start order-1">
            <header class="font-hijrnotes text-4xl pb-6">The lawn</header>
            <p>There is nothing like a refreshing dip in our heated saltwater pool, lounge under our shaded umbrellas, and cool off in our soothing pool house.</p>
        </figcaption>
    </section>
</section>
<!--end here -->

<!--start here -->
<section class="segment-outer pb-16">
    <section class="segment-inner xmed:grid grid-cols-2 gap-x-16 xmed:pt-16 xmed:pb-16 items-center bg-vio-1">
        <figure>
            <picture>
                 <source src="images/amenities-4.webp" type="image/webp" srcset="
                    images/amenities-4.webp 600w,
                    images/amenities-4_300.webp 300w
                ">              
                <img class="w-full" src="images/amenities-4.jpg" class="inline-block" alt="the bikes">
            </picture>
        </figure>
        <figcaption class="text-justify px-16 sm:py-8 sm:pl-16 xmed:py-0">
            <header class="font-hijrnotes text-4xl pb-6">The bikes</header>
            <p>There is nothing like a refreshing dip in our heated saltwater pool, lounge under our shaded umbrellas, and cool off in our soothing pool house.</p>
        </figcaption>
    </section>
</section>
<!--end here -->

<!--start here -->
<section class="segment-outer pb-16">
    <section class="segment-inner xmed:grid grid-cols-2 gap-x-16 xmed:pt-16 xmed:pb-16 items-center bg-grey">
        <figure class="xmed:justify-end order-2">
            <picture>
                 <source src="images/amenities-5.webp" type="image/webp" srcset="
                    images/amenities-5.webp 600w,
                    images/amenities-5_300.webp 300w
                ">              
                <img class="w-full" src="images/amenities-5.jpg" class="inline-block" alt="the lobby">
            </picture>
        </figure>
        <figcaption class="text-justify px-16 sm:py-8 sm:pl-16 xmed:py-0 xmed:justify-start order-1">
            <header class="font-hijrnotes text-4xl pb-6">The lobby</header>
            <p>There is nothing like a refreshing dip in our heated saltwater pool, lounge under our shaded umbrellas, and cool off in our soothing pool house.</p>
        </figcaption>
    </section>
</section>
<!--end here -->

<!-- start here-->
<section class="segement-outer">
    <section class="segment-inner">
        <article class="text-center mb-8">
             <header class="font-hijrnotes text-4xl mb-6">
                <h1>Something special for you</h1>
             </header>
             <p class="mb-6">Click below to view available offers</p>
             <a href="#" class="border inline p-1">view offer</a>
        </article>
    </section>
</section>
<!--end here -->

<!-- start here-->
<section class="segement-outer bg-violet mt-16">
    <section class="segment-inner">
         <figure class="max-w-3xl m-auto">
            <img class="w-full" src="images/amenities-6.jpg" class="" alt="map">
         </figure>
    </section>
</section>
<!--end here -->