---
layout: base.njk
pagename: hamptons
meta_title: "JOURNEY"
permalink: "build/hamptons.html"
permalinkBypassOutputDir: true
---
<!--starts here-->
    <section class="segment-outer pt-16 xmed:pt-24 mb-16 pb-10">
        <section class="segment-inner px-4 pt-4 xmed:pt-16">
            <figcaption>
                <h2 class="text-5xl text-center mb-16">
                    Happiest in the Hamptons
                </h2>
            </figcaption>
            <figure class="max-w-hero-width mx-auto">
                <picture>
                    <source src="images/hamptons-1.webp" type="image/webp" srcset="
                    images/hamptons-1.webp 600w,
                    images/hamptons-1_300.webp 300w
                ">
                    <img src="images/hamptons-1.jpg" class="inline-block" alt="A hidden gem for the modern explorer" srcset="
                    images/hamptons-1.jpg 600w,
                    images/hamptons-1.jpg 300w
                ">
                </picture>
            </figure>
            <figcaption>
                 <h1 class="font-hijrnotes mt-9 text-6xl text-center">
                    close to it all
                 </h1>
            </figcaption>
            <div class="flex justify-center my-16">
                <svg width="8" height="42" viewBox="0 0 8 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3.65231 41.3536C3.84757 41.5488 4.16415 41.5488 4.35941 41.3536L7.54139 38.1716C7.73666 37.9763 7.73666 37.6597 7.54139 37.4645C7.34613 37.2692 7.02955 37.2692 6.83429 37.4645L4.00586 40.2929L1.17743 37.4645C0.98217 37.2692 0.665588 37.2692 0.470325 37.4645C0.275063 37.6597 0.275063 37.9763 0.470325 38.1716L3.65231 41.3536ZM3.50586 0L3.50586 41H4.50586L4.50586 0L3.50586 0Z" fill="#354656"/>
                </svg>
            </div>
        </section>
    </section> 
<!--ends here-->  



