---
layout: base.njk
pagename: hamptons
meta_title: "JOURNEY"
permalink: "build/hamptons.html"
permalinkBypassOutputDir: true
---

<section class="bg-violet">
    <section class="segment-outer pt-16 xmed:pt-24 mb-16 pb-10 bg-violet">
        <section class="segment-inner px-4 pt-4 xmed:pt-16">
            <figcaption>
                <h2 class="text-5xl text-center pb-2 mb-1">
                    Happiest in the Hamptons
                </h2>
            </figcaption>
            <figure class="max-w-hero-width mx-auto">
                <picture>
                    <source src="images/hamptons-1.webp" type="image/webp" srcset="
                    images/hamptons-1.webp 600w,
                    images/hamptons-1_300.webp 300w
                ">
                    <img src="images/hamptons-1.jpg" class="inline-block" alt="A hidden gem for the modern explorer" srcset="
                    images/hamptons-1.jpg 600w,
                    images/hamptons-1.jpg 300w
                ">
                </picture>
            </figure>
            <article class="max-w-6xl mt-10 m-auto">
                <header>
                    <h1 class="font-hijrnotes text-6xl text-center">
                        Everything. Right where you need it.
                    </h1>
                </header>
                <p class="text-center pt-8">
                    A local, down to earth, experience for our guests, making them always feel at home.
                </p>
            </article>
        </section>
    </section>
</section>

<section class="segment-outer">
    <section class="segment-inner xmed:grid grid-cols-2 gap-x-8 xmed:py-16 items-center">
        <figure class="xmed:justify-end order-2">
            <picture>
                <source src="images/hamptons-2.webp" type="image/webp" srcset="
                images/hamptons-2.webp 600w,
                images/hamptons-2_300.webp 300w
                ">
                <img src="images/hamptons-2.jpg" class="inline-block" alt="A hidden gem for the modern explorer" srcset="
                images/hamptons-2.jpg 600w,
                images/hamptons-2.jpg 300w
                ">
            </picture>
        </figure>
        <figure class="xmed:justify-end order-3 mt-8">
            <picture>
                <source src="images/hamptons-3.webp" type="image/webp" srcset="
                images/hamptons-3.webp 600w,
                images/hamptons-3_300.webp 300w
                ">
                <img src="images/hamptons-3.jpg" class="inline-block" alt="A hidden gem for the modern explorer" srcset="
                images/hamptons-3.jpg 600w,
                images/hamptons-3.jpg 300w
                ">
            </picture>
        </figure>
        <figure class="xmed:justify-end order-4 mt-8">
            <picture>
                <source src="images/hamptons-4.webp" type="image/webp" srcset="
                images/hamptons-4.webp 600w,
                images/hamptons-4_300.webp 300w
                ">
                <img src="images/hamptons-4.jpg" class="inline-block" alt="A hidden gem for the modern explorer" srcset="
                images/hamptons-4.jpg 600w,
                images/hamptons-4.jpg 300w
                ">
            </picture>
        </figure>
        <figcaption class="text-justify px-8 xmed:px-16 py-8 xmed:py-0 xmed:justify-start order-1">
            <h4 class="font-hijrnotes text-4xl pb-6">welcome to the hamptons</h4>
            <article>
                <header class="text-4xl pb-6">
                    <h4>Hamptons since 1972 </h4>
                </header>
                <p class="text-2xl">The first inn located in America was recorded in the year 1607 and lead the way with many other firsts in the hospitality industry. The first publicly held hotel (the City Hotel) opened in New York in 1792. The first modern hotel (the Tremont) opened in Boston in 1809 and the first business hotel (the Buffalo Statler) opened in 1908.</p>
            </article>
        </figcaption>
    </section>
</section>

