{% from "macros.njk" import showLogo,
pictureImg %}
{% macro socialMediaList(social)%}
  <li>
    <a href="{{ social.href }}" target="_blank">
      <img src="/images/{{ social.name }}.svg" alt="{{ social.name }}"/>
    </a>
  </li>
{% endmacro %}
<footer class="segment-outer bg-jou-main text-grey py-11">
  <div class="grid grid-cols-12 gap-3 text-left px-8 xmed:px-16">
    <div class="col-span-12 xmed:col-span-7">
      <div class="grid justify-items-center xmed:justify-items-start">
        <img
          class="h-15 xmed:h-19"
          src="/images/logo_sign_dark.svg"
          alt="Reserve"
/>
      </div>
      <div class="grid grid-cols-7 gap-3 mt-7 xmed:mt-20">
        <div class="xmed:hidden col-span-7">
          {{ pictureImg("journey-map", "", "w-full") }}
        </div>
        <div class="col-span-7 xmed:col-span-3">
          <nav class="mt-8 xmed:mt-0">
            <h3 class="text-xl text-center xmed:text-left xmed:text-2xl xmed:mb-6">
              <span class="xmed:hidden">The Property</span>
              <span class="hidden xmed:block">Site map</span>
            </h3>
            <div
              class="
                px-16
                xmed:px-0
                grid grid-cols-2 xmed:grid-cols-2-max-max
                gap-x-8
                justify-item-center
                text-sm
                xmed:text-base
                mt-6
              "
            >
              <ul>
                {% if data.nav_menu %}
                  {% for nav in data.nav_menu %}
                    {% if (nav.footer) %}
                      <li class="mb-2 xmed:mb-3">
                        <a href="{{ nav.href }}">{{ nav.name }}</a>
                      </li>
                    {% endif %}
                  {% endfor %}
                {% endif %}
              </ul>
              <ul>
                <li class="mb-2 xmed:mb-3">
                  <a href="hamptons.html">Hamptons</a>
                </li>
                {# <li class="mb-2 xmed:mb-3">   Todo, privacy policy is not created, added by Meherab, 23-06-21.
                  <a href="#">Privacy Policy</a>
                </li> #}
                <li class="mb-2 xmed:mb-3">
                  <a href="/accessibility.html">Accessibility</a>
                </li>
                <li class="mb-2 xmed:mb-3">
                  <a href="/faq.html">FAQ</a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
        <div class="col-span-7 xmed:col-span-4">
          <div
            class="
              text-center
              object-top
              font-semibold
              xmed:font-normal
              text-xs
              xmed:text-base xmed:text-left
            "
          >
            <h3 class="text-xl xmed:text-2xl mb-3 xmed:mb-6">Contacts</h3>
            <a href="tel:{{ data.phone }}" class="block mb-2 font-normal xmed:mb-3">{{ data.phone }}</a>
            <a href="mailto:{{ data.email }}" class="block mb-2 font-normal xmed:mb-3">{{ data.email }}</a>
            <p class="mb-2 font-normal xmed:mb-3">{{ data.address }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-span-5 pt-4 hidden xmed:grid">
      {{ pictureImg("journey-map", "-mr-2", "w-full") }}
    </div>
  </div>

  <div class="grid grid-cols-1 justify-item-center my-8 xmed:hidden">
    <ul
      class="grid grid-cols-{{
        data.social_media.length
      }} gap-6 justify-self-center"
    >
      {% for social in data.social_media %}
        {{ socialMediaList(social) }}
      {% endfor %}
    </ul>
  </div>

  <hr class="my-6 mx-7 xmed:mx-12 border border-jou-main-4"/>

  <div class="grid grid-cols-1 xmed:grid-cols-2 items-center px-8 xmed:px-16">
    <div class="grid justify-items-start">
      <div>
        <span class="inline mr-2 text-base text-jou-main-4">Powered by</span>
        <img class="inline" src="/images/skipper_logo.svg" alt="Skipper"/>
      </div>
    </div>
    <div class="hidden xmed:grid justify-items-end">
      <ul class="grid grid-cols-{{ data.social_media.length }} gap-x-6">
        {% for social in data.social_media %}
          {{ socialMediaList(social) }}
        {% endfor %}
      </ul>
    </div>
  </div>
</footer>