{% from "macros.njk" import menuItems,
showLogo %}
<header class="w-full h-15 xmed:h-25 fixed z-40 grid bg-white">
    {# follwoing checkbox changing the value :checked, css property written on global.css #}
    <input type="checkbox" id="menu-toggle" class="page-header__toggle hidden">
    <nav class="nav-bar w-full segment-inner flex items-center justify-between xmed:justify-center px-5 xmed:px-16">
        <div class="">
            {% if data.nav_menu %}
                {{menuItems('desktop-menu hidden xmed:flex', 'mx-2 lg:mx-4 mar-tablet:mx-6','text-base', data.nav_menu, pagename)}}
            {% endif %}
            <div class="justify-self-start">
                <label for="menu-toggle" class="page-header__toggle-button relative w-5.5 h-4 block cursor-pointer menu-toggle__border border-jou-main-1 xmed:hidden">
                    <span class="sr-only">Toggle Button</span></label>
            </div>
            <div class="page-header__menu hidden xmed:hidden absolute xmed:relative h-screen left-0 top-14 xmed:top-0 grid-flow-row xmed:grid-flow-col justify-items-center xmed:justify-items-end w-full xmed:w-auto bg-jou-main">
                <section class="h-72 my-2 pb-4 w-full bg-jou-main">
                    {% if data.nav_menu %}
                        {{menuItems('xmed:hidden bg-jou-main', 'my-4','text-4xl', data.nav_menu, pagename)}}
                    {% endif %}
                </section>
            </div>
        </div>

        <div class="nav_white hidden">
            {{showLogo('xmed:hidden', '#fff')}}
        </div>
        <div class="nav_dark">
            {{showLogo('xmed:hidden' )}}
        </div>

        <a class="justify-self-end nav_dark xmed:hidden" href="tel:{{data.phone}}">
            <img src="/images/phone_dark.svg" alt="Logo">
        </a>
        <a  class="justify-self-end nav_white hidden" href="tel:{{data.phone}}">
            <img src="/images/phone.svg" alt="Logo">
        </a>

        <a href="https://res.journeyeasthampton.com/ibe/index.aspx?propertyID=15303" target="_blank" class="reserve-btn">
            <img src="/images/reserve.svg" alt="Reserve">
        </a>
        {# <a href="#" class="reserve-btn">
            <span>Reserve</span>
        </a> #}
    </nav>
</header>