{% macro menuItems(parentClass, childClass, grandChildClass, nav_menu, pagename) %}
    <ul class="{{parentClass}} text-center page-header__menu">
        {% for nav in nav_menu %}
            <li class="{{childClass}}">
                {% if (nav.path !== 'logo') %}
                    <a href="{{nav.href}}" class="{% if (pagename == nav.path) %} header-link--active {% else %} header-link--inactive {% endif %} {{grandChildClass}}">{{nav.name}}</a>
                {% else %}
                    {{showLogo('hidden xmed:block mt-1')}}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endmacro %}

{% macro showLogo(parentClass, logoColor = 'dark') %}
    {% if (logoColor === 'dark') %}
        <a href="index.html" class="{{parentClass}}" aria-label="Logo">
            <img src="/images/logo_dark.svg" alt="Logo">
        </a>
    {% else %}
        <a href="index.html" class="{{parentClass}}" aria-label="Logo">
            <img src="/images/logo.svg" alt="Logo">
        </a>
    {% endif %}

{% endmacro %}