---
layout: base.njk
pagename: rooms
meta_title: "JOURNEY"
permalink: "build/rooms.html"
permalinkBypassOutputDir: true
---
{% from "macroSvgs.njk" import leftArrow, rightArrow, star %}
{% from "macros.njk" import stylusHead, rectLink, subheader, pictureImg, hijrnotesSubheader, articleSubheader, subfooter %}

<!-- Content Head macro -->
{% macro h2Head(text, childClass) %}
<div class="py-3">
  <h2 class="text-2xl text-center {{ childClass }} ">
    {{ text }}
  </h2>
</div>
{% endmacro %}

{{ subheader( 'Your boutique home away from home', 'rooms', '', 'png' ) }}
{{ hijrnotesSubheader('feels like home', 'true') }}


<section
  class="mx-auto pt-5 xmed:pt-6 px-7 xmed:px-36 lg:px-60 pb-10 bg-violet"
>
  <div class="grid grid-cols-1 xmed:grid-cols-2 gap-2">
    <div class="xmed:hidden">
      {{ h2Head("Our rooms feature:", "font-semibold") }}
    </div>
    <div class="hidden xmed:block">
      {{ pictureImg("v-bed", "mx-auto max-w-md", "w-full") }}
    </div>
    <div class="xmed:pl-12">
      {% for feature in features %}
      {{ stylusHead(feature.title, "text-center xmed:text-left") }}
      <p
        class="
          text-base text-center
          xmed:text-left xmed:text-2xl
          xmed:pl-6
          pb-10
        "
      >
        {{ feature.text }}
      </p>
      {% endfor %}
    </div>
    <div class="xmed:hidden">
      {{ pictureImg("v-bed", "max-w-hero-width", "w-full") }}
    </div>
  </div>
</section>

<section
  class="mx-auto pt-9 xmed:pt-24 px-0 xmed:px-36 lg:px-60 pb-10 bg-violet"
>
  {{ h2Head("Our cozy rooms", "xmed:text-4.5xl  font-semibold") }}
  <div class="text-center text-2xl pt-4 pb-16 px-4 xmed:max-w-2xl xmed:mx-auto">
    A perfect balance of charm and luxury. Enjoy our collection of elegant rooms
    filled with comfort and contemporary style.
  </div>

  {% for room in cozy_rooms %}
  <div class="grid grid-cols-1 xmed:grid-cols-5 gap-4 pb-14">
    <div class="relative xmed:col-span-3">
      <div class="overflow-hidden relative max-w-hero-width h-amenities xmed:h-xmed-room-images">
        {% for image in room.images %}
        <div class="absolute inset-0">
          <div class= "{{room.tag }}-carousel">
            {{ pictureImg(image, "h-full","w-full h-amenities xmed:h-xmed-room-images object-cover" ) }}
          </div>
        </div>
        {% endfor %}

        <div class="absolute left-2 top-1/2">
          <div class="inline-block bg-gray-100 bg-opacity-75 cursor-pointer" id="{{room.tag}}-carousel-prev" >
            {{
              leftArrow("jou-main-1")
            }}
          </div>
          
        </div>
        <div class="absolute right-2 top-1/2">
          <div class="inline-block bg-gray-100 bg-opacity-75 cursor-pointer" id="{{room.tag}}-carousel-next" href="#">
            {{
              rightArrow("jou-main-1")
            }}
          </div>
        </div>
      </div>
      
        
      <!-- <div class="mb-32 sm:mb-56 xmed:mb-28 mar-tablet:mb-52 xl:mb-56"></div> -->
    </div>

    <div class="xmed:col-span-2">
      {{ stylusHead(room.title) }}
      <p class="text-base xmed:text-2xl pl-6 pb-4">{{ room.text }}</p>
      <p class="text-2xl pl-6 pb-3">Room Details</p>
      <ul class="pl-12 list-disc">
        {% for detail in room.details %}
        <li>{{ detail }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {% endfor %}
</section>

<section class="mx-auto py-10 bg-vio-2">
  {{ stylusHead("something special for you", "text-center large") }}

  <p class="text-base xmed:text-2xl py-8 text-center">
    Click below to view available offers
  </p>

  {{
    rectLink(
      "View Offers",
      "/offers.html",
      "text-center block my-5",
      "px-10 py-2 italic font-semibold border border-black text-base"
    )
  }}
</section>
