---
layout: base.njk
pagename: offers
meta_title: "JOURNEY"
permalink: "build/offers.html"
permalinkBypassOutputDir: true
---
{% from "macros.njk" import subheader,
hijrnotesSubheader,
articleSubheader %}
{{ subheader(
    'We provides best affordable offers for you',
    'offers-1',
    '',
    'png'
) }}
{{ hijrnotesSubheader('celebrate our offers', 'true') }}
{{ articleSubheader(
    'Our offers', 
    'A local, down to earth, experience for our guests, making them always feel at home.'
    ) 
}}

{% for item in imagePanels %}
    <section class="segment-outer last:mb-16 px-8 xmed:px-16">
        <section class="segment-inner xmed:grid grid-cols-2 gap-x-16 xmed:py-8">
            <figure class="xmed:justify-end {{ item.figureOrder }}">
                <picture>
                    <source src="{{ item.imageUrl }}.webp" type="image/webp" srcset="
                    {{ item.imageUrl }}.webp 600w,
                    {{ item.imageUrl }}_300.webp 300w
                ">
                    <img class="w-full" src="{{ item.imageUrl }}.jpg" class="inline-block" alt="the lawn">
                </picture>
            </figure>
            <figcaption class="text-center xmed:text-left px-8 xmed:px-0 py-8 xmed:py-0 xmed:justify-start {{ item.figcaptionOrder}}">
                <header class="font-serif text-4xl xmed:text-4.5xl pb-6">
                    <h4>{{ item.title }}</h4>
                </header>
                <div class="font-paragraph">
                    <p>{{ item.p1 }}</p>
                    <p class="pt-4">{{ item.p2 }}</p>
                    {% if (p3 != '') %}
                    <p class="pt-4">{{ item.p3 }}</p>
                    {% endif %}
                </div>
                <div class="mt-8 text-center xmed:text-left">
                    <a href="{{ item.href }}" class="button__primary">Book Offer</a>
                </div>
            </figcaption>
        </section>
    </section>
{% endfor %}