/* colors */
:root {
    --color__primary: #354656;
    --color__blue: #1B3A5C;
    --color__violet: #FDFAF9;
    --color__violet-1: #FFF2E5;
    --color__grey-light: #E5E5E5;
    --color__grey-cool: #D9D9D6;
}
/* fonts */
:root {
    --base-font-size: 18px;
}